# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
bin/
obj/

# Copilot / IntelliSense / Cache dosyaları
*.db
*.cache
*.vsidx
*.log
*.json
*.vscode/

# Others
*.tmp
*.bak
# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
bin/
obj/

# Copilot / IntelliSense / Cache dosyaları
*.db
*.cache
*.vsidx
*.log
*.json
*.vscode/

# Others
*.tmp
*.bak
